.nav-bg {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;

  background-color: transparent !important;
}

.nav-li {
  position: relative;
  width: calc(7vw + 3rem);
  height: calc(5vh + 0.25rem);
  border-radius: 30px;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: (1rem * 1vw);
  cursor: pointer;
}

.navbar-toggler {
  margin-right: 5vw;
  border: none;
}

.navbar-toggler > span {
  color: #000;
}
